

.customer-details ul {
	width: 100%;
	float: left;
	margin: 10px 0;
}

.customer-details .list-body {
	margin: 0;
}

.customer-details .list-head {
	font-weight: bolder;
} 


.customer-details ul li {
	list-style: none;
	width: 100%;
	max-width: 145px;
	float: left;
}

.footer {
	width: 100%;
	float: left;
	margin-top: 20px;
}

.referralInfo .list-head li:nth-child(6),
.referralInfo .list-body li:nth-child(6) {
	width: 100%;
	max-width: 225px;
}