<div class="pm-settings settings-index">
    <div class="section settings-index-button-selection">
        <ul>
        	<li>{{#link-to 'paymentmanagerhoneyme.appmanagement.emailtemplates'}}Email Templates{{/link-to}}</li>
            <li>{{#link-to 'paymentmanagerhoneyme.appmanagement.emailsettings'}}Email Settings{{/link-to}}</li>

        </ul>
    </div>
</div>
