
    <div class="pm-emails email-content">
        <div class="panel">
            <div class="panel-body">
                <div class="section tab-content cc-expiry-setting">
                    <div class="section-content">
                        <div class="column-layout two-columns">
                            <div class="column main-content">
                                <div class="form-vertical">
                                    <div class="field">
                                        <label for="email-subject">Template Title</label>
                                        <div class="field-group">
                                            {{input type="text" name="template-title" placeholder="Enter an email template title" value=model.name}}
                                        </div>
                                    </div>

                                    <div class="field">
                                        <label for="email-subject">Email Subject</label>
                                        <div class="field-group">
                                            {{input type="text" name="email-subject" placeholder="Enter your email subject" value=model.subject}}
                                        </div>
                                    </div>

                                    <div class="field">
                                        <label for="email-subject">BCC Email<small>(optional)</small></label>
                                        <div class="field-group">
                                            {{input type="text" name="email-bccName" placeholder="Enter an name for BCC" value=model.bcc}}
                                        </div>
                                    </div>

                                    <div class="field">
                                        <label>Email Body</label>
                                        <div class="field-group">
                                            {{wysiwyg-editor
                                                input=model.body
                                                enterSourceModeAction="enterSourceMode"
                                                exitSourceModeAction="exitSourceMode"
                                            }}
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="column side-content">
                                <div class="tpl-vars-wrapper">
                                    <h4>Template Variables</h4>
                                    {{ pmhm-email-vars }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="page-action">
        {{#if saveInProgress}}
            <button class="btn btn-primary submit-btn loading"><i class="fa fa-spin fa-cog"></i> Saving</button>
        {{else}}
            {{#link-to 'paymentmanagerhoneyme.appmanagement.emailtemplates.index' class="btn btn-link"}}Cancel{{/link-to}}

            <div class="button-group">
                <button class="btn btn-primary submit-btn" {{action 'saveEmail' true}}>Save</button>
            </div>
        {{/if}}
    </div>
