<h1>In-Stock Capture Result</h1>
<button style='background-color: #66CD00;' class="btn" {{ action 'showOrders' true }}>Back To Orders</button>
<button style='background-color: #FF8C00;' class="btn" {{ action 'printSummary' true }}>Print Summary</button>
<div class="list-head instock-row">
  {{#each heads }}
    <span>{{@index}}{{this}}</span>
  {{/each}}
</div>

<div>
  {{#each itemsToShow as |row|}}
    {{pmhm-instock-capture-list-item
      order=row}}
  {{/each}}
</div>

{{pmhm-pagination-list total=maxPages selected=currentPage itemsPerPage=itemsPerPage clickAction="changePage"}}
