{{#if shippingColumn}}
  <button class="btn btn-primary" {{ action 'authorizeOrders' true }}>Proceed & Authorize Orders</button>
  {{else}}
    <button class="btn btn-primary" {{ action 'shippingFeePopup' true }}>Apply Shipping Fees</button>
{{/if}}

<button style='background-color: #36a9de; color: white' class="btn primary-btn submit-btn" {{ action 'exportCSV' true }}>Export CSV</button>
<button class="btn primary-btn submit-btn" {{ action 'newSearch' true }}>Start New Search</button>

<li class="row heading">
  <!-- {{#if shippingColumn}}
    <span class="col select-item" style="min-width: 5%;">
    	{{checkbox-item checked=selectAll checkAction="toggleAll"}}
	  </span>
  {{/if}} -->

  <span class="col select-item" style="min-width: 5%;">
    {{checkbox-item checked=selectAll checkAction="toggleAll"}}
  </span>

	<span class="col" style="min-width: 5%;">Order</span>
	<span class="col" style="min-width: 15%;">Status</span>
	<span class="col" style="min-width: 20%;">Customer Name</span>
	<span class="col" style="min-width: 25%;">Customer Email</span>
  <span class="col" style="min-width: 10%;">Order Value</span>
  {{#if shippingColumn}}
    <span class="col" style="min-width: 10%;">Shipping</span>
    <span class="col" style="min-width: 10%;">Auth Amount</span>
  {{/if}}
	<span class="clearfix">&nbsp;</span>
</li>

{{#if authorizing}}
	<div class="step-action">
		<button class="btn disable-btn"><i class="fa fa-spin fa-cog"></i> Please Wait...</button>
	</div>
{{else}}
  {{#each itemsToShow as |order index|}}
  	{{pmhm-order-list-item
  		shippingColumn=shippingColumn
      order=order
      selected=selectedItems
      selectAction="selectItem"
      }} 
  {{/each}}
{{/if}}
{{pmhm-pagination-list total=maxPages selected=currentPage itemsPerPage=itemsPerPage clickAction="changePage"}}

{{#if addShippingFees}}
	<div class="modal">
	  <!-- Modal content -->
	  <div class="modal-content">
	    <div class="modal-header">
	      <h2>Enter Shipping Percentage</h2>
	    </div>
	    <div class="modal-body">
	    	<span style='display: block;'>
	     		<label>Shipping percentage Add-on: </label>
              <input type='text' id='shippingPercentage'/>
          	</span>
          	<p>Please enter a shipping percentage to be added to the authorization amount of the selected orders</p>
	    </div>
	    <div class="modal-footer">
	      <button class="btn primary-btn submit-btn" {{ action 'closeShippingFees' true }}>Cancel</button>
	      <button class="btn btn-primary submit-btn" {{ action 'addShippingPercentage' true }}>Proceced & Authorize</button>
	    </div>
	  </div>
	</div>
{{/if}}
