<span>{{order.payment_status}}</span>
<span>{{order.transactionId}}</span>
<span>{{order.message}}</span>
<span>{{order.bc_id}}</span>
<span>{{order.customer_name}}</span>
<span>{{order.billing_email}}</span>
<span>${{order.authAmount}}</span>
