{{#if itemsToShow}}
<div class='panel'>
	<div class='panel-heading'>Saved Authorized List</div>
	<div class='panel-body'>
		{{!-- The button here is for clear the unkown margin for the first list item, should be fixed by using actual CSS style, but don't know how to yet. --}}
		<button style='color: #FFF; border-color: #FFF; cursor: inherit; height: 0;'></button>

		<li class="row heading ">
			<span class="col" style="min-width: 10%;">List Name</span>
			<span class="col" style="min-width: 10%;">Status</span>
			<span class="col" style="min-width: 10%;">Orders</span>
			<span class="col" style="min-width: 10%;">Creation Date</span>
		    <span class="col" style="min-width: 10%;">Actions</span>
			<span class="clearfix">&nbsp;</span>
		</li>

		{{#each itemsToShow as |order index|}}
			{{ pmhm-saved-authorize-list-item
				index=index
		        order=order
		    }}        
		{{/each}}

		{{pmhm-pagination-list total=maxPages selected=currentPage itemsPerPage=itemsPerPage  clickAction="changePage"}}
	</div>
</div>
{{/if}}
