{{#if orderList}}
  {{#if authorizing}}
    <div class="step-action">
      <button class="btn disable-btn"><i class="fa fa-spin fa-cog"></i> Please Wait...</button>
    </div>
    {{else}}
      <h1>In-Stock Capture </h1>
      <button class="btn btn-primary" {{ action 'authorizeOrders' true }}>Authorize & Capture</button>
      <div class="list-head instock-row">
        <div class="tickbox">
            {{checkbox-item checked=selectAll checkAction="toggleAll"}}
        </div>
        {{#each heads }}
          <span>{{@index}}{{this}}</span>
        {{/each}}
      </div>

      <div>
        {{#each itemsToShow as |row|}}
          {{pmhm-instock-list-item
            order=row
            selected=selectedItems
            selectAction='selectItem'}}
        {{/each}}
      </div>
  {{/if}}
  {{pmhm-pagination-list total=maxPages selected=currentPage itemsPerPage=itemsPerPage clickAction="changePage"}}
{{else}}
  {{pmhm-instock-capture-list captureResults=captureResults showOrders='showOrdersList'}}
{{/if}}
