<li class="row">
    <span class="col" style="min-width: 10%;">
        {{order.order_id}}
    </span>
    <span class="col" style="min-width: 10%;">
        {{order.payment_status}}
    </span>
    <span class="col" style="min-width: 10%;">
        {{order.customer_name}}
    </span>
    <span class="col" style="min-width: 20%;">
        {{order.billing_email}}
    </span>
    <span class="col" style="min-width: 10%;">
        ${{order.shipping_fees}}
    </span>
    <!-- <span class="col" style="min-width: 10%;">
        ${{order.auth_total}}
    </span> -->
    <span class="col" style="min-width: 10%;">
        ${{order.auth_total}}
    </span>
    {{#if canceled }}
        <p>Canceled</p>
    {{else}}
        <span class="col" style="min-width: 20%;">
            <a style="text-decoration: underline; color: #4b71fc; cursor: pointer"{{ action 'captureItem' true }}> Capture / </a>
            <a style="text-decoration: underline; color: red; cursor: pointer"{{ action 'cancelItem' true }}> Cancel</a>
        </span>
    {{/if}}
</li>
