<li class="row">
    <span class="col" style="min-width: 30%;">
        {{template.name}}
    </span>
    <span class="col" style="min-width: 40%;">
        {{template.subject}}
    </span>
    <span class="col" style="min-width: 30%;">
    {{#trigger-dropdown}}
      {{#link-to 'paymentmanagerhoneyme.appmanagement.emailtemplates.edit' template.id class="edit-link"}} Edit/View {{/link-to}}
    {{/trigger-dropdown}}
    </span>
</li>
