{{#if item.selected}}
	<span>
		{{#if item.isFirst}}
			<i class="fa fa-chevron-left"></i>
		{{else if item.isLast}}
			<i class="fa fa-chevron-right"></i>
		{{else}}
			{{item.label}}
		{{/if}}
    </span>
{{else}}
	{{#if unprocessed}}
	<a {{action 'selectItem1' item.page}}>
		{{#if item.isFirst}}
            <i class="fa fa-chevron-left"></i>
		{{else if item.isLast}}
            <i class="fa fa-chevron-right"></i>
		{{else}}
			{{item.label}}
		{{/if}}
	</a>
	{{else}}
	<a {{action 'selectItem' item.page}}>
		{{#if item.isFirst}}
            <i class="fa fa-chevron-left"></i>
		{{else if item.isLast}}
            <i class="fa fa-chevron-right"></i>
		{{else}}
			{{item.label}}
		{{/if}}
	</a>
	{{/if}}
{{/if}}