<div class="tickbox">
  {{checkbox-item checked=isSelected checkAction="toggleItem"}}
</div>
<span>{{order.order_id}}</span>
<span>{{order.date}}</span>
<span>{{order.status}}</span>
<span>{{order.customer_name}}</span>
<span>{{order.email}}</span>
<span>${{order.total}}</span>
<span>${{order.capture_amount}}</span>
<span>
  <a class='adjustClick' {{ action 'showAdjustModal' }}>Adjust</a>
</span>

{{#if adjustpopup}}
  <div class="modal">
    <div class="modal-content">
      <div class="modal-header">
        <h3>Adjust Order: {{order.order_id}}</h3>
      </div>
      <div class="modal-body">
        <div>
          <label>Adjustment Value: </label>
           {{input type="text" name="banner_title" value=order.capture_amount placeholder="" }}
        </div>
        <div>
          <label>Original Value: </label>
          <span>${{order.total}}</span>
        </div>
        <p>Capture value can be lower or higher than the initial value of the order</p>
      </div>
      <div class="modal-footer">
        <button class="btn primary-btn submit-btn" {{ action 'closeAdjustModal' true }}>Cancel</button>
        <button class="btn btn-primary submit-btn" {{ action 'adjustCaptureAmount' true }}>Update Capture Amount</button>
      </div>
    </div>
  </div>
{{/if}}
