{{#if showPagination}}
	<!-- <label style="display: block">Items Per Page: </label> -->
	<ul class="pagination-list">
		{{#each pageItem in pages}}
			{{pmhm-pagination-item item=pageItem clickAction="selectItem" clickAction1="selectItem1" unprocessed=unprocessed}}
		{{/each}}

	</ul>

	<div class="select-list">
		  <select class="{{name}}">
		    <option></option>
		    {{#each pageItemsOptions as |item|}}
		    <option value="{{item.id}}">{{item.label}}</option>
		    {{/each}}
		  </select>
	</div>

{{/if}}
