<li class="row">
    <span class="col" style="min-width: 10%;">
        {{order.payment_status}}
    </span>
    {{#if order.message}}
    <span class="col" style="min-width: 10%;">
        {{order.message}}
    </span>
    {{else}}
      <span class="col" style="min-width: 10%;">
        No Response Message
      </span>
    {{/if}}
    <span class="col" style="min-width: 10%;">
        {{order.bc_id}}
    </span>
    <span class="col" style="min-width: 10%;">
        {{order.customer_name}}
    </span>
    <span class="col" style="min-width: 20%;">
        {{order.billing_email}}
    </span>
    <span class="col" style="min-width: 10%;">
        ${{order.authAmount}}
    </span>
</li>
