{{#if model.orderDate}}
  <h3>Pre-Order Date: {{model.orderDate.label}}</h3>
{{/if}}

{{#if Loading}}
    <div class="btn primary-btn">
      <i class="fa fa-spin fa-cog"></i>
      <h3 style="display: inline">We are loading your app, please be patient...</h3>
    </div>
{{else}}
    {{#if searchSection}}
      <div class='panel'>
        <h1>Advanced Search</h1>
        <div class='panel-body'>
            <label>Pre-Order Date: </label>
            <div class="field-group" style='margin-bottom: 15px;'>
                {{ select-list
                    content=orderDates
                    value=model.orderDate
                    options=selectOptions
                }}
            </div>
            {{#if searchInProgress}}
              <button class="btn primary-btn submit-btn loading"><i class="fa fa-spin fa-cog"></i> searching</button>
            {{else if disableSave}}
              <button class="btn submit-btn">Editing</button>
            {{else}}
              <button class="btn primary-btn submit-btn" {{action 'searchOrder' true }}>Search</button>
            {{/if}}
          </div>
        </div>
    {{/if}}

    {{#if orders}}
      <div class='panel'>
        <div class="panel-body pm-products">
          <div class="search-wrapper">
            <h1>Search Results</h1>
              {{ pmhm-order-list
                orders=orders
                orderDate=model.orderDate
                authorizeResponseList="setAuthorizeResponseList"
              }}
          </div>
        </div>
      </div>
    {{/if}}

    {{#if noResults}}
      <h1>No Results Found, please check your search input</h1>
      <button class="btn" {{ action 'newSearch' true }}>Start New Search</button>
    {{/if}}

    {{#if authorizeResponseList}}
      <div class='panel'>
        <div class="panel-body pm-products">
            <div class="search-wrapper">
              <h1>Authroization Response List</h1>
                {{ pmhm-authorize-response-list
                  orders=authorizeResponseList
                }}
            </div>
        </div>
      </div>
    {{/if}}
{{/if}}
